.banner {
    @include centerChild;
    height: 223px;
    margin-bottom: 43px;
    border-radius: 25px;
    background-blend-mode: darken;

    @media (max-width: 375px) {
        height: 111px;
        margin-bottom: 22px;
    }

    &.is-home {
        background: url("../../assets/images/image-source-1.jpg") rgba(0, 0, 0, 0.3) center/cover no-repeat;

        p {
            margin: 32px 16px;
            font-size: 48px;
            color: $color2;
            z-index: 0;
            @media (max-width: 789px) {
                font-size: 34px;
            }
            @media (max-width: 375px) {
                font-size: 24px;
                
                span {
                    display: block;
                }
            }
        }
    }

    &.is-about {
        background: url("../../assets/images/image-source-2.jpg") rgba(0, 0, 0, 0.3) center/cover no-repeat;

        p {
            display: none;
        }
    }
}
