.home-banner {
    @include centerChild;
    height: 223px;
    margin-bottom: 43px;
    border-radius: 25px;
    background: url("../../assets/img/image-source-1.jpg") rgba(0, 0, 0, 0.3) center no-repeat;
    background-blend-mode: darken;

    p {
        font-size: 48px;
        color: $color2;
        z-index: 0;
    }
}

.about-banner {
    @include centerChild;
    height: 223px;
    margin-bottom: 43px;
    border-radius: 25px;
    background: url("../../assets/img/image-source-2.jpg") rgba(0, 0, 0, 0.3) center no-repeat;
    background-blend-mode: darken;

    p {
        display: none;
    }
}
