.carousel {
    display: flex;
    height: 415px;
    position: relative;
    margin-bottom: 25px;
    
    button {
        background: none;
        border: none;
        padding: 0;
        top: 1fr;
        top: calc(50% - 40px);
            /* Centrez le premier élément verticalement en soustrayant la moitié de sa hauteur (40px) */
        
        &.left-arrow {
            position: absolute;
            margin-left: 24px;
        }
        &.right-arrow {
            position: absolute;
            right: 0;
            margin-right: 24px;
        }
    }
    .current-slide {
        width: 100%;
        max-width: 1223px;
        object-fit: cover;
        border-radius: 25px;
    }

    p {
        position: absolute;
        bottom: 25px;
        font-size: 18px;
        color: $color2;
        left: 50%;
        transform: translateX(-50%);
        text-shadow: 0 0 5px rgba(0, 0, 0, 1);
    }
}
