$color1: #FF6060;
$color2: #FFFFFF;
$color3: #F6F6F6;
$color4: #000000;

@mixin centerChild {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    min-width: 330px;
    font-family: "Montserrat";
    margin: 0;
}

header, main {
    margin: auto 340px;

    @media (max-width: 1440px) {
        margin: auto 40px;
    }

    @media (max-width: 375px) {
        margin: auto 20px;
    }
}

button {
    cursor: pointer;
}

h1, p {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}